.box1{
    position: relative;
    left: 120px;
    bottom: 300px;


}

.box2{
    position: relative;
    top: 330px;
    left: 160px;
    display: flex;
    
}

.box3{
    position: relative;
    top: 520px;
    left: 650px;
    
}

.box4{
    position: relative;
    top: 365px;
    left: 120px;
    display: flexbox;
    
}

.subbox4-1{
    position: relative;
    top: 63px;

}

.icons{
    height: 20px;
    width: 20px;
}

.favoritar{
    position: relative;
    left: 60px;
}

.receba{
    font-size: 13px;
    color: grey;
    position: relative;
    left: 170px;
    bottom: 22px;
}




/* Mysterious Vendor- esse nome eu mesmo dei por causa dessa imagem que eu retirei do flaticon*/
.mysteriousvendor{
    font-size: 20px;
    position: relative;
    top: 22px;
    left: 78px;


}


.userprofileimg{
    height: 75px;
    width: 75px;
}

.online{
    position: relative;
    left: 80px;
    bottom: 57px;

}

.conversaragora{
    border: 1px solid rgb(255, 72, 0);
    color: orangered;
    width: 190px;
    background-color: rgb(255, 145, 0);
    position: relative;
    left: 80px;
    bottom: 39px;
    
}


.verpáginadaloja{
    position: relative;
    left: 290px;
    bottom: 66px;
}

.indicado2{
    border: 1px solid rgb(255, 72, 0);
    color: white;
    width: 64px;
    background-color: orangered;
    position: relative;
    left: 5px;
    bottom: 75px;
    
}


.status{
    font-size: 15px;
    color: rgb(158, 157, 157);
}

.values{
    font-size: 15px;
    color: orangered;
}

.Avaliações{
    position: relative;
    left: 540px;
    bottom: 100px;
    
}

.Produtos{
    position: relative;
    left: 540px;
    bottom: 80px;
}


.taxaderespostachat{
    position: relative;
    left: 730px;
    bottom: 146px;
}

.geralmenterespondechat{
    position: relative;
    left: 730px;
    bottom: 126px;
}

.lojashopeedesde{
    position: relative;
    left: 1060px;
    bottom: 194px;
}

.seguidor{
    position: relative;
    left: 1060px;
    bottom: 175px;
}









#twentyonethousand{
    position: relative;
    left: 620px;
    bottom: 235px;

}


#ninththree{
    position: relative;
    left: 610px;
    bottom: 231px;

}

#eightysevenpercent{

    position: relative;
    left: 911px;
    bottom: 313px;
}


#poucashoras{
    position: relative;
    left: 950px;
    bottom: 309px;
}

#vintemesesatrás{
    position: relative;
    left: 1200px;
    bottom: 417px;
}


#twelvepointonethousand{
    position: relative;
    left: 1130px;
    bottom: 413px;
}